.UserInfo img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }
  .Comment {
    background-color:rgb(198, 180, 13);
    width: 200px;
    height: 300px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 0 black;
    border: 2px solid ;
  }
  .Comment-second {
    background-color: bisque;
  }